doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ABC

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ABC 
        p Ambri Syahputra     (12.111.2872)
        p Berto Eben Ezer     (12.111.3118)
        p Christin Natalia    (12.111.3029)
        p Muhyiddin Isya S    (09.111.3277)

      section
        h1 Tips Membentuk Tubuh Ideal

      section
        h2 Makanan Berserat Tinggi
        li Oatmeal
        li Pepaya
        li Berry
        li Sayuran Berdaun Hijau
        li Jagung

      section
        h2 Olahraga Ringan
        li Jogging. 
        li Olahraga ini sangat mudah dan simple untuk dilakukan. Jogging ini bermanfaat untuk tubuh secara keseluruhan.
        li Senam. 
        li Senam juga berfungsi untuk menurunkan berat badan dan juga mengecilkan perut karena dalam senam semua badan bergerak dan ini akan membakar lemak lebih banyak juga.
        li Sit-Up
        li Ini merupakan gerakan senam yang sering digunakan untuk mengecilkan perut. Gerakan sit up ini lebih terarah dan terkonsentrasi pada bagian perut.

      section
        h2 Pola Tidur Yang Baik
        li <img src="image/tiduryangbaik.jpg">
        li Tidur 7 jam samapai 8 jam sehari. 
        li Hindari untuk tidur dalam jangka waktu lama. Sebab dengan tidur lama maka proses bangun anda juga akan terganggu dan secara keseluruhan mengganggu pola tidur anda.

      section
        h2 Makanan Berprotein Tinggi
        li Daging Sapi
        li Ayam Tanpa Kulit
        li Telur
        li Susu
        li Kepiting
        li Tahu

      section
        h2 Makanan Yang Dikonsumsi
        li Jika kita menyantap makanan dengan jumlah kalori lebih banyak daripada yang dibutuhkan oleh tubuh kita akan menyebabkan berat badan kita bertambah bahkan berpotensi menjadi obesitas.
        li Hitung Kebutuhan 
        li  Perhitungan pertama yang dilakukan adalah menghitung angka metabolisme basal (AMB).
        li Rumusnya adalah:
        li AMB = 0,9 kkal x berat badan (dalam kg) x 24 jam
        li Untuk menghitung kebutuhan energi harian, maka angka AMB yang didapat kemudian dikalikan dengan variabel dari aktivitas fisik yang Anda lakukan. Aktivitas dan variabel yang dilakukan adalah sebagai berikut:
        li Ringan = 1,55
        li Sedang = 1,70
        li Berat = 2,00

      section
        h2 Atur Hari Bebas
        li Melakukan olahraga untuk membakar lemak memang terasa lebih sulit. Baik secara mental, maupun secara fisik. Itu sebabnya ,disarankan untuk memiliki “Free Day” atau HariBebas. Ini dilakukan dengan menghentikan segala kegiatan rutin yang biasa dilakukan dan menggantinya dengan beristirahat dirumah, menonton film/mendengarkan musik atau dapat juga memilih untuk jalan-jalan kesuatu tempat untuk mengatasi pikiran yang lagi jenuh. Hal ini bertujuan untuk menjaga pikiran tetap jernih sehingga tubuh menjadi bugar.

      section
        h2 Indeks Massa Tubuh
        li  IMT adalah perbandingan antara berat badan dengan tinggi badan kuadrat.  Cara pengukurannya adalah pertama-tama ukur berat badan dan tinggi badannya.  Selanjutnya dihitung IMT-nya, yaitu :
        li                       Berat badan (kg)
        li IMT = ----------------------------------------------
        li                       Tinggi badan 2 (meter)


      section
        h2 Olahraga Berat / Angkat Beban Berat
        li <img src="image/olahragaberat.png">
        li Menurut penelitian, mengangkat beban adalah salah satu cara untuk membakar lemak lebih cepat. Tidak hanya berguna untuk kaum pria, kaum wanita pun bisa melakukan kegiatan ini.Selain mengaktifkan sistim kerja otot secara lebih, mengangkat beban juga berfungsi untuk meningkatkan metabolisme Anda.


      section
        h2 Puasa Intermiten
        li Puasa intermiten dapat diselipkan diantara kegiatan pembakaran lemak Anda. 
        li Puasa intermiten, puasa yang dilakukan selama 24 jam, dapat dilakukan 1 kali dalam seminggu. 
        li Memang, puasa jenis 1 ini terlihat ekstrem. Tapi, apabila dilakukan secara rutin puasa intermiten dapat menurunkan berat badan secara sehat dan juga dapat mempertahankan masa otot.

      section
        h2 Defenisi Pola Tidur
        li Tidur merupakan suatu kondisi istirahat alami yang dialami oleh manusia yang sangat penting untuk kesehatan. Setiap orang membutuhkan waktu tidur kurang lebih sekitar sepertiga waktu hidupnya atau sekitar 6-8 jam sehari. Secara alami dan otomatis jika tubuh lelah maka kita akan merasa mengantuk sehingga memaksa tubuh kita untuk beristirahat secara fisik dan mental.

      section
        h2 Posisi Tidur Yang Baik
        li Terlentang
        li Menyamping
        li Tengkurap
        li Posisi yang paling baik yaitu posisi Menyamping

      section
        h2 Lama waktu tidur
        li Tubuh memang memerlukan istirahat atau tidur untuk mengembalikan energi dan bisa beraktivitas kembali. Waktu tidur yang normal untuk usia 18 tahun atau remaja ialah sekitar 6-7 jam setiap malamnya. Namun kebiasaan buruk yang umumnya dilakukan para remaja ialah begadang.
        li Untuk mengatasinya, Anda dapat menetapkan waktu tidur yang teratur. Bagi usia remaja dan dewasa, waktu terbaik untuk tidur ialah antara pukul 9-12 malam. Asumsikan Anda tidur 7 jam, maka Anda akan terbangun pukul 4-5 pagi. Jika aktivitas Anda baru dimulai lebih siang, pergunakan waktu di pagi hari ini untuk aktivitas lain, misalnya belajar.

      section
        p <img src="image/tulang.jpg">
        h2 Tips Menjaga Kesehatan Tulang Anda:
        li Hindari berbagai minuman yang dapat membuat tulang menjadi keropos
        li Untuk menjaga kesehatan tulang cukupi asupan kebutuhan vitamin D
        li Rutin minum susu setiap hari
        li Olahraga secara rutin demi menjaga kesehatan tulang

      section
        h2 Hal Yang Membuat Seseorang Perkena Penyakit Jantung
        li Faktor usia dan jenis kelamin
        li Faktor Keturunan
        li Tekanan Darah Tinggi
        li Karena Merokok

      section
        h2 Menjaga Kesehatan Jantung
        li Berhenti Merokok
        li Tidur Secukupnya
        li Olahraga Secukupnya

      section
        h2 Kadar Gula Darah
        li Kadar gula darah ideal memiliki range antara 70-110 mg/dm.
        li Atau antara 70-150 mg/dm.

      section
        h2 Kecukupan Nurtisi
        li Kecukupan nutrisi adalah rata-rata asupan gizi harian yang cukup untuk memenuhi kebutuhan gizi bagi hampir semua (97,5%) orang sehat dalam kelompok umur, jenis kelamin dan fisiologis tertentu. Nilai asupan harian zat gizi yang diperkirakan dapat memenuhi kebutuhan gizi mencakup 50% orang sehat dalam kelompok umur, jenis kelamin dan fisologis tertentu disebut dengan kebutuhan gizi.
        li Standart kecukupan gizi di Indonesia masih menggunakan makro, yaitu kecukupan kalori (energi) dan kecukupan protein. Di Indonesia belum diterapkan standart kecukupan gizi secara mikro, seperti kecukupan vitamin dan mineral.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild